.calendar-page {
  padding: 30px;
  color: white;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.calendar-header h2 {
  font-size: 28px;
  font-weight: bold;
}

.calendar-header button {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.calendar-header button:hover {
  transform: scale(1.05);
}

.weekdays,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
}

.weekdays {
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.calendar-day,
.empty {
  height: 90px;
}

.calendar-day {
  background: #1e293b;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.calendar-day:hover {
  background: #22c55e;
  transform: translateY(-3px);
}

.today {
  background: #22c55e;
  font-weight: bold;
  color: white;
}