.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.header h1 {
  font-size: 34px;
  font-weight: 700;
  color: var(--text-primary);
}

.header p {
  margin-top: 8px;
  color: var(--text-secondary);
  font-size: 16px;
}